<%--
 * textbox.tag
 *
 * Copyright (C) 2016 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 --%>

<%@ tag language="java" body-content="empty"%>

<%-- Taglibs --%>

<%@ taglib prefix="jstl" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="security"
	uri="http://www.springframework.org/security/tags"%>
<%@ taglib prefix="acme" tagdir="/WEB-INF/tags"%>

<%-- Attributes --%>

<%@ attribute name="checkboxCode" required="true"%>
<%@ attribute name="hrefCode" required="true"%>
<%@ attribute name="href" required="true"%>

<%@ attribute name="readonly" required="false"%>

<jstl:if test="${readonly == null}">
	<jstl:set var="readonly" value="false" />
</jstl:if>


<%-- Definition --%>

<div>
	<form:label path="checkBox">
		<spring:message code="${checkboxCode}" />
	</form:label>
	<form:checkbox path="checkBox" />
	<a href="${href}"> <spring:message code="${hrefCode}" />
	</a>
	<form:errors class="error" path="checkBox" />
</div>
